.policy-details{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/bg-all-1.jpg');
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    text-align: center;
}

.policy-flex{
    font-size: 20px;
    padding-top: 5rem;
    margin-left: 10rem;
}

.policy-flex input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #31e40d;
}

.policy-btn{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: 25%;
    grid-template-columns: auto auto auto;
    gap: 30px;

}

