.navbar{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#fff ;
    padding: 15px 7%;
    transition: 0.5s;
}

.logo{
    width: 160px;
    cursor: pointer;
}

.navbar ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

.navbar ul a {
   display: inline-block;
   margin: 10px 20px;
   font-size: 18px;
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.dark .navbar{
  background: transparent;
  color: #fff;
  padding: 15px 7%;
}

.dark .navbar ul a{
    color: #fff;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 4px;
    border: none;
    background: #fff;
}

.dark button{
    padding: 4px;
    border: none;
    color: #fff;
    background:none;
}

 