.fd-main{
    width: 100vw;
    height: 100vh;
    background: url('../../assets/bg-all-1.jpg');
    background-size: cover;
}

.fd-main h1{
    color: aliceblue;
    text-align: center;
    margin: 2% 0;
}

.feedback{
    display: flex;
    justify-content: center;
}

